.navbar-nav {
  .nav-item {
    .nav-link {
      font-size: 0.875rem;
      &.active {
        color: black;
        text-decoration: underline;
      }

      &:hover {
        color: black;
        text-decoration: underline;
      }
    }
  }
}
